

body{
    display:flex;
    flex-direction: column;

    min-height:100vh;
}

nav, footer{
    width: 100%;
    /* height: ...; */
}


main{
    display: flex;
    /* Aplicamos row de manera explicita para no olvidar la direccion del layout */
    flex-direction: row;

    min-height:100vh;
}

aside{
    /* width: ...; */
    height: 100%;
}

section{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-columns: repeat(auto, minmax(100px, 1fr));

    /* gap: ...; */
}
