@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1c4dd6;
}

.FoundWordsList, .LettersMenu, .FormingWordRecipient{
  width: 360px;
}

.FoundWordsList{
  max-height: 350px;
  overflow-y:scroll;
}

@media screen and (max-width:754px){
  .gameplaySection{
    flex-direction: column;
    align-items: center;
  }

  .FoundWordsList__Section{
    margin-right: 0px;
    margin-bottom: 15px;
  }

}